<h2 class="">Catálogo de Produtos</h2>
<a class="btn btn-info" asp-controller="Products" asp-action="Index">Acess Products</a>
<a class="btn btn-info" asp-controller="Categories" asp-action="Index">Acess Categories</a>