@model CleanArchMVC.Application.DTO.CategoryDTO
@{
    ViewData["Title"] = "Edit Category";
}

<h2>@ViewData["Title"]</h2>
<hr>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <label class="control-name" asp-for="Name"></label>
                <input type="text" class="form-control" asp-for="Name">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <input type="Submit" class="btn btn-success" value="Edit">
                <a class="btn btn-info" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>